.chatBox {
    width: 100%;
    display: flex;
}

.messageField {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 16px;
}

.messages {
    align-self: flex-start;
    overflow-y: scroll;
    height: 400px;
    width: 100%;
}

@media only screen and (max-width: 480px) {
    .messages {
        align-self: flex-start;
        overflow-y: scroll;
        height: 400px;
        width: 200px;
        font-size: 14px;
    }
}
