.messageImg {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    padding: 8px;
    object-fit: cover;
}

.messageContainer {
    min-width: 50px;
    min-height: 50px;
    display: flex;
    padding: 0;
}

.yourMessage {
    background-color: #989AD7;
    border-radius: 5px;
    padding: 4px 16px;
    color: white;
}

.youContainer {
    justify-content: flex-start;
}

.botMessage {
    background-color: #F1F1FB;
    border-radius: 5px;
    padding: 4px 16px;
}

.botContainer {
    justify-content: flex-end;
}

@media only screen and (max-width: 480px) {
    .messageImg {
        height: 30px;
        width: 30px;
        border-radius: 50px;
        padding: 4px;
        object-fit: cover;
    }

    .messageContainer {
        min-width: 50px;
        min-height: 50px;
        margin-bottom: 4px;
        display: flex;
        padding: 0;
    }
}
