.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}

.center {
  padding: 0 calc(50% - 1140px / 2);
}