.container {
    width: 992px;
    margin: 160px auto;
    background-color: white;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 10px;
}