.container {
  width: 992px;
  margin: 160px auto;
}
.chatBox{
  width: 100%;
  display: flex;
}
.messageField{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 16px;
}
.inputMessage{
  width:80%;
}

.messageBar{
  display: flex;
  margin-top: auto;
}


/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c4c4c4; 
  border-radius: 10px;
}