.mobile {
    display: none;
}

.desktop {
    display: inherit;
    width: 400px;
}

.animateChat {
    animation-name: chatAnimation;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: 4;
    animation-direction: alternate;
}

@keyframes chatAnimation {
    from {
        background-color: #3B3F9A;
    }
    to {
        background-color: deeppink;
    }
}

@media only screen and (max-width: 480px) {
    .desktop {
        display: none;
        width: 200px;
    }

    .mobile {
        display: inherit;
    }
}